* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1117;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.hero h2 {
    color: #58a6ff;
}

.hero p {
    max-width: 700px;
}

.buttons a {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    background: #238636;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.about,
#projects,
#contact {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;
}

.card {
    background: #161b22;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    margin-bottom: 20px;
}

.cert-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    align-items: stretch;
}

.cert-card {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 16px;
    padding: 25px;
    text-align: center;
}

.cert-card img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    display: block;
    margin: 0 auto 15px auto;
}

.cert-card h3 {
    color: #58a6ff;
    font-size: 1rem;
}
@media (max-width: 900px) {
    .cert-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .cert-grid {
        grid-template-columns: 1fr;
    }
}
